{% extends 'base.html' %}
{% block content %}
    <div class=" text-2xl font-bold text-white">
        <h1>{{ Titre }}</h1>
    </div>
    <div class="flex justify-center m-6">

        <div class="grid grid-cols-3 gap-4">
            {#  TODO: fomarte en fonction de la longeur des mots , il faut que sa reste dans le contenant qui a hauteur 10 et largeur 50           #}
            {% for competence in Competences %}
                <div class="w-50 h-10 border border-blue-500 rounded-full bg-cyan-500 flex items-center justify-center">
                    {% if competence.competence|length > 10 %}
                        <p class=" text-sm text-white font-bold">
                            {{ competence.competence }}
                            {% else %}
                        <p class="text-white font-bold">
                        {{ competence.competence }}
                    {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}