{% extends 'base.html' %}
{% block content %}
    <div class=" text-2xl font-bold text-white">
        <h1>{{ Titre }}</h1>
    </div>
    <div class="flex justify-center m-4">
        <div class="overflow-hidden border border-gray-200 rounded-xl">

            <table class="bg-gray-200 w-dvh ">

                <thead class="bg-indigo-600 text-white h-12 ">
                <tr>
                    <th class="">Date</th>
                    <th class="">Entreprise</th>
                    <th class="">Poste</th>
                    <th class="">Fonctions ou Roles</th>
                    <th class="">Type Poste</th>
                </tr>
                </thead>
                <tbody class="h-13">
                {% for experience in Experiences %}
                    <tr>
                        <td>{{ experience.date_debut }}| {% if experience.date_fin == None %}
                            Aujourd'hui{% endif %} </td>
                        <td>{{ experience.entreprise }}</td>
                        <td>{{ experience.poste }}</td>
                        <td>{{ experience.fonctions_roles }}</td>
                        <td>{{ experience.type_poste }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}